body {
	font-family: "Comfotaa","Verdana","Hevletica",sans-serif;
	/*Font ^*/
	background: black;
	/*Background ^*/
	color: white;
	/*Text Color ^*/
}
table {
	width: 80%;
	height: 300px;
	margin: auto;
}
h1,h2,h3,h4,h5,h6,p,table {
	font-weight: 900;
	text-align: center;
}
.judesliga {
	font-family: "Tottenham Hotspur","ITC Novarese","Rubik",serif;
	background: black;
	color: white;
	font-weight: 900;
}
.urtown-united {
	color: purple;
	font-weight: 900;
	font-family: "Montserrat","Comfortaa",sans-serif;
}
.linton {
	color: white;
	font-weight: 500;
	font-family: "Comic Sans MS";
}
.ninton-town {
	color: green;
	font-weight: 100;
	font-family: "Comfortaa","Arial",sans-serif;
}
.urtown-city {
	color: blue;
	font-weight: 500;
	font-family: "Courrier New","Roboto Mono",monospace;
}
.firmir {
	color: red;
	font-weight: 900;
}
.lakinet {
	color: white;
	font-weight: 900;
}
.poorsmith-city {
	color: grey;
	font-weight: 900;
}
.manville-rovers {
	color: red;
	font-weight: 900;
}
#news {
	background: yellow;
	color: blue;
	position: fixed;
	border: orange 10px solid;
	top: 80%;
	width: 98%;
	z-index: 10;
}
ol,ul {
	position: relative;
	left: 45%;
	width: 50%;
}
td.judesliga {
	border: 5px solid white;
}
#x-button {
	z-index: 11;
	position: fixed;
	left: 98%;
	bottom: 16%;
	cursor: hand;
	opacity: 1;
}
#news-button {
	z-index: 11;
	position: relative;
	left: 48%;
	cursor: hand;
	opacity: 0;
}
a {
	cursor: alias;
	text-align: center;
	text-decoration: none;
}
.oli-league {
	color: lawngreen;
	font-family: "Comic Sans MS", "Brush Script MS", cursive;
}
.andezliga {
	color: white;
	font-family: "Verdana",sans-serif;
}
